<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to take photos of homework assignments.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to the photo library to select homework images.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID to securely access your homework and protect your academic data.</string>
</dict>
</plist>
