<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to take photos of homework assignments.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to the photo library to select homework images.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID to securely access your homework and protect your academic data.</string>
    <key>CFBundleURLTypes</key>
      <array>
          <dict>
              <key>CFBundleTypeRole</key>
              <string>Editor</string>
              <key>CFBundleURLSchemes</key>
              <array>
                  <string>com.googleusercontent.apps.1093713878705-ren052j7epl4g2u4ipq1pfs318n8bcn2</string>
              </array>
          </dict>
      </array>
</dict>
</plist>
